<% provide(:title, @user.username)%>
<% if @user.avatar?%>
	<span id="user-avatar" style="background:url(<%=@user.avatar.small.url%>)"></span>
<%else%>
	<span id="user-avatar" style="background-color:salmon;"></span>
<%end%>
<h2 id="user-name"><%=@user.username.capitalize%></h2>

<% if logged_in? && @currentUser.id == @user.id%>
	<%= link_to 'edit',edit_user_path, id: "btn"%>
<%end%>

<section class="wrapper">
	<div class="collection-box currently-reading-box">
	</div>
	<h3>Currently Reading</h3>
</section>

<section class="wrapper">
	<div class="collection-box reading-challenge-box">
	</div>
	<h3>Reading Challenge</h3>
</section>

<section class="wrapper">
	<div class="collection-box bookshelves-box">
	</div>
	<h3>Bookshelves</h3>
</section>