<% provide(:title, @user.username)%>
<% if @user.avatar?%>
	<span style="height:100px;width:100px;background:url(<%=@user.avatar.small.url%>);background-size:cover;background-position:contain;display:inline-block"></span>
<%else%>
	<span style="height:100px;width:100px;background-color:salmon;display:inline-block"></span>
<%end%>
<span><%=@user.username%>'s Profile</span>
<%= link_to 'edit',edit_user_path%>